# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Sample programs

# samples/stream_text/stream_text
# samples/hello_world/hello_world


/target
/exec/target

test_executable